 /*GERAL*/

 body {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   color: #333;
   margin: 0;
   padding: 0;
   line-height: 1.6;
 }

 h2, h3 {color: #1B4332;}

 a {
   text-decoration: none;
   color: inherit;
 }

 .btn {
   background-color: #F77F00;
   color: white;
   padding: 10px 18px;
   border-radius: 6px;
   font-weight: bold;
   transition: 0.3s;
   display: inline-block;
   border: none;
 }

 .btn:hover {background-color: #ff9933;}

 /*Top-Site*/

 .top-site {
   position: fixed;
   display: flex;
   background-color: rgba(27, 67, 50, 0.95);
   width: 100%;
   padding: 20px;
   text-align: center;
   z-index: 2;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
 }

 .logo {
   height: 60px;
   margin-right: 20px;
 }

 .title {
   color: white;
   text-transform: uppercase;
   font-weight: 600;
   margin-left: 25px;
   display: flex;
   text-align: center;
   align-items: center;
 }

 .title p {margin-bottom: 15px;}

 .menu a {
   color: #FFFFFF;
   margin-right: 25px;
   text-transform: uppercase;
   font-weight: 600;
 }

 .menu .btn {margin-right: 60px;}

 .mobile {
   display: none;
   margin-right: 50px;
 }

 header p {
   font-size: 19px;
   margin-bottom: 30px;
 }

 /*CTA-Inicial*/

 .cta-inicial {
   background-image: url(../images/background.png);
   background-size: cover;
   background-position: top center;
   color: white;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 20px;
   position: relative;
 }

 .cta-inicial .btn {
   padding: 20px 60px;
   font-size: 22px;
 }

 /*HERO*/

 .hero {text-align: center;}

 article {
   padding: 30px 20px;
   max-width: 1100px;
   margin: auto;
 }

 .stats {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30px;
 }

 .stat {
   background: #F5F5F5;
   padding: 15px;
   border-radius: 8px;
   width: 200px;
   text-align: center;
   margin: 10px;
 }

 /*Ajuda*/

 .ajuda {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30px;
 }

 .ajuda-opcao {
   background: #F5F5F5;
   padding: 25px;
   border-radius: 8px;
   width: 270px;
   text-align: center;
   margin: 10px;
 }

 .ajuda-opcao h3 {margin-bottom: 10px;}

 /*IMPACTO*/

 .impacto {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 30px 0;
 }

 .impacto img {
   text-align: center;
   width: 32%;
   display: inline;
   border-radius: 8px;
 }

 /*newsletter*/

 .newsletter {
   background: #1B4332;
   border-radius: 16px;
   margin-bottom: 50px;
   max-width: 600px;
   text-align: center;
 }

 .newsletter h2 {
   color: white;
   margin-bottom: 30px;
 }

 .newsletter-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   width: 80%;
   margin: 0 auto;
 }

 .input-element {
   display: block;
   width: 100%;
   padding: 15px 20px;
   margin-bottom: 10px;
   border: none;
   border-radius: 5px;
   font-family: "Montserrat", sans-serif;
 }

 .newsletter .btn {
   padding: 20px 34px;
   font-weight: bold;
   cursor: pointer;
   font-size: 16px;
   font-family: "Montserrat", sans-serif;
 }

 /*Rodapé*/

 footer {
   background: rgb(20, 20, 20);
   padding: 30px 0px;
   text-align: center;
 }

 footer p {
   color: white;
 }

 .social {
   margin: 40px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .social-icon {
   width: 32px;
   height: 32px;
   margin: 0 10px;
 }

 /*Definição de media queries*/

 @media all and (max-width:1060px) {
   h1 {font-size: 27px;}

   .cta-inicial .btn {
     padding: 10px 40px;
     font-size: 20px;
   }

   article { max-width: 800px;}

   .ajuda-opcao {
     padding: 20px;
     width: 200px;
     margin: 10px;
   }
 }

 @media all and (max-width:820px) {
   h1 {font-size: 27px;}

   .cta-inicial {background-image: url(../images/background_mobile.png);}

   .cta-inicial .btn {
     padding: 10px 40px;
     font-size: 17px;
   }

   .title p {display: none;}

   article {max-width: 730px;}

   .stat {width: 150px;}

   .ajuda-opcao {width: 300px;}

   .cta-final {max-width: 500px;}
 }


 @media all and (max-width:640px) {
   h1 {font-size: 27px;}

   .cta-inicial {
     background-image: url(../images/background_mobile.png);
     height: 80vh;
   }

   .cta-inicial .btn {
     padding: 10px 40px;
     font-size: 13px;
   }

   .menu a {display: none;}

   .mobile {display: block;}

   article {max-width: 580px;}

   .stat {
     width: 100px;
     padding: 15px;
   }

   .ajuda-opcao {width: 300px;}

   .impacto img {
     width: 60%;
     margin-bottom: 15px;
   }

   .newsletter {max-width: 300px;}

   .newsletter h2 {font-size: 18px;}

 }